{% capture author_info %}
<div class="author">
 {% if site.author_thumbnail && site.author_thumbnail != '' %}
  <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">
    <img 
      src="{{ '/assets/images/avatar.jpg' | prepend: site.baseurl | prepend: site.url }}"
      alt="{{ site.title }}" width="60" height="60" />
  </a>
  {% endif %}
  <h5>Author</h4>
  <h6>
    <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">
      {{ site.author }}
    </a>
  </h5>
  <p>
    Find me on
    {% if site.theme.social.twitter %}
        <a title="{{ site.theme.social.twitter }} on Twitter" 
            href="https://twitter.com/{{ site.theme.social.twitter }}" 
            class="twitter" target="_blank">Twitter</a>
    {% endif %}
    /
    {% if site.theme.social.facebook %}
        <a title="{{ site.theme.social.facebook }} on Facebook" 
            href="https://facebook.com/{{ site.theme.social.facebook }}" 
            class="facebook" target="_blank">Facebook</a>
    {% endif %} 
    /
    {% if site.theme.social.gplus %}
        <a title="{{ site.theme.social.gplus }} on Google Plus" 
            href="https://plus.google.com/{{ site.theme.social.gplus }}" 
            class="google" target="_blank">Google</a>
    {% endif %}
  </p>
</div>
{% endcapture %}{{ author_info | strip_newlines }}