<div ng-include src="'_templates/partials/navbar.html'" style="margin-bottom: 50px"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="bg-color-">
          <ol class="breadcrumb">
            <li><a href>Desenvolvedores</a></li>
            <li><a href>Organizações</a></li>
            <li class="active">Nova organização</li>
          </ol>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">

    <!-- The sidebar -->
    <div class="panel panel-default">
      <div class="panel-body">
        <form ng-submit="save(organization)" ng-model="organization">
          <h3 class="text-light">Nova organização</h3>
          <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" ng-model="organization.name">
          </div>
          <!-- <div class="form-group">
            <label>E-mail</label>
            <input type="text" class="form-control">
          </div> -->

          <div class="text-right">
            <a ng-href="#!/orgs" class="btn btn-default"><!-- <i class="fa fa-arrow-left"></i> --> Voltar</a>
            <button type="submit" class="btn btn-primary">Criar</button>
            <!-- <a href="#" class="btn btn-link btn-block">Esqueci minha senha</a> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
