<div class="container" ng-app="apix">
  <div class="row">
    <div class="col-xs-10 col-sm-6 col-md-4 col-xs-offset-1 col-sm-offset-3 col-md-offset-4">
      <div class="panel panel-default panel-auth">
        <div class="panel-body">
          <form ng-submit="login($event, user)">
            <div class="panel-auth-image"><img src="img/logo-zenvia.png"></div>
            <div class="panel-auth-text"></div>
            <div class="panel-auth-form">
              <div class="form-group">
                <label>Username</label>
                <div class="inner-addon left-addon">
                  <i class="fa fa-user"></i>
                  <input type="text" class="form-control" ng-disabled="l" ng-model="user.username">
                </div>
              </div>
              <div class="form-group">
                <label>Password</label>
                <div class="inner-addon left-addon">
                  <i class="fa fa-lock"></i>
                  <input type="password" class="form-control" ng-disabled="l" ng-model="user.password">
                </div>
              </div>
            </div>
            <div>
              <div class="alert alert-danger alert-inverse text-center animated pulse" ng-show="error">{{ error.message }}</div>
            </div>
            <div class="panel-auth-actions">
              <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="l"><i class="fa fa-circle-o-notch fa-spin fa-lg fa-fw" ng-show="l"></i> <span ng-hide="l">Entrar</span></button>
              <hr>
              <div class="text-center">
                <h5>Novo por aqui?</h5>
                <a ng-href="#!/signup" class="btn btn-default btn-block btn-lg">Crie uma conta</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
